{% extends 'layouts/admin_main.html' %}

{% block title %} Dashboard For Bank Users {% endblock title %} 
<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <!-- partial:../../partials/_navbar.html -->
   
    <!-- partial -->
   
      <!-- partial:../../partials/_settings-panel.html -->
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
     
      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="row icons-list">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-access-point"></i> mdi mdi-access-point
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-access-point-network"></i> mdi mdi-access-point-network
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account"></i> mdi mdi-account
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-box"></i> mdi mdi-account-box
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-box-outline"></i> mdi mdi-account-box-outline
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-card-details"></i> mdi mdi-account-card-details
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-check"></i> mdi mdi-account-check
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-circle"></i> mdi mdi-account-circle
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-convert"></i> mdi mdi-account-convert
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-key"></i> mdi mdi-account-key
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-location"></i> mdi mdi-account-location
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-minus"></i> mdi mdi-account-minus
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-multiple"></i> mdi mdi-account-multiple
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-multiple-minus"></i> mdi mdi-account-multiple-minus
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-multiple-outline"></i> mdi mdi-account-multiple-outline
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-multiple-plus"></i> mdi mdi-account-multiple-plus
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-network"></i> mdi mdi-account-network
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-off"></i> mdi mdi-account-off
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-outline"></i> mdi mdi-account-outline
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-plus"></i> mdi mdi-account-plus
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-remove"></i> mdi mdi-account-remove
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-search"></i> mdi mdi-account-search
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-settings"></i> mdi mdi-account-settings
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-settings-variant"></i> mdi mdi-account-settings-variant
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-star"></i> mdi mdi-account-star
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-account-switch"></i> mdi mdi-account-switch
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-adjust"></i> mdi mdi-adjust
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-air-conditioner"></i> mdi mdi-air-conditioner
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-airballoon"></i> mdi mdi-airballoon
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-airplane"></i> mdi mdi-airplane
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-airplane-landing"></i> mdi mdi-airplane-landing
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-airplane-off"></i> mdi mdi-airplane-off
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-airplane-takeoff"></i> mdi mdi-airplane-takeoff
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-airplay"></i> mdi mdi-airplay
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alarm"></i> mdi mdi-alarm
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alarm-check"></i> mdi mdi-alarm-check
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alarm-multiple"></i> mdi mdi-alarm-multiple
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alarm-off"></i> mdi mdi-alarm-off
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alarm-plus"></i> mdi mdi-alarm-plus
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-album"></i> mdi mdi-albums
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alert"></i> mdi mdi-alert
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alert-box"></i> mdi mdi-alert-box
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alert-circle"></i> mdi mdi-alert-circle
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alert-circle-outline"></i> mdi mdi-alert-circle-outline
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alert-octagon"></i> mdi mdi-alert-octagon
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alert-outline"></i> mdi mdi-alert-outline
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alpha"></i> mdi mdi-alpha
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-alphabetical"></i> mdi mdi-alphabetical
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-altimeter"></i> mdi mdi-altimeter
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-amazon"></i> mdi mdi-amazon
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-amazon-clouddrive"></i> mdi mdi-amazon-clouddrive
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-ambulance"></i> mdi mdi-ambulance
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-amplifier"></i> mdi mdi-amplifier
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-anchor"></i> mdi mdi-anchor
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-android"></i> mdi mdi-android
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-android-debug-bridge"></i> mdi mdi-android-debug-bridge
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-android-studio"></i> mdi mdi-android-studio
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-animation"></i> mdi mdi-animation
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-apple"></i> mdi mdi-apple
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-apple-finder"></i> mdi mdi-apple-finder
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-apple-ios"></i> mdi mdi-apple-ios
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-apple-keyboard-caps"></i> mdi mdi-apple-keyboard-caps
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-apple-keyboard-command"></i> mdi mdi-apple-keyboard-command
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-apple-keyboard-control"></i> mdi mdi-apple-keyboard-control
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-apple-keyboard-option"></i> mdi mdi-apple-keyboard-option
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-apple-keyboard-shift"></i> mdi mdi-apple-keyboard-shift
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-apple-mobileme "></i> mdi mdi-apple-mobileme
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-apple-safari"></i> mdi mdi-apple-safari
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-application"></i> mdi mdi-application
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-appnet"></i> mdi mdi-appnet
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-apps"></i> mdi mdi-apps
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-archive"></i> mdi mdi-archive
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrange-bring-forward"></i> mdi mdi-arrange-bring-forward
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrange-bring-to-front"></i> mdi mdi-arrange-bring-to-front
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrange-send-backward"></i> mdi mdi-arrange-send-backward
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrange-send-to-back"></i> mdi mdi-arrange-send-to-back
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrow-all"></i> mdi mdi-arrow-all
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrow-bottom-left"></i> mdi mdi-arrow-bottom-left
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrow-bottom-right"></i> mdi mdi-arrow-bottom-right
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrow-compress"></i> mdi mdi-arrow-compress
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrow-compress-all"></i> mdi mdi-arrow-compress-all
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrow-down"></i> mdi mdi-arrow-down
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrow-down"></i> mdi mdi-arrow-down
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrow-down-bold-circle"></i> mdi mdi-arrow-down-bold-circle
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrow-down-bold-circle-outline"></i> mdi mdi-arrow-down-bold-circle-outline
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrow-down-bold-hexagon-outline"></i> mdi mdi-arrow-down-bold-hexagon-outline
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrow-down-drop-circle"></i> mdi mdi-arrow-down-drop-circle
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrow-down-drop-circle-outline"></i> mdi mdi-arrow-down-drop-circle-outline
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrow-expand"></i> mdi mdi-arrow-expand
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrow-expand-all"></i> mdi mdi-arrow-expand-all
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrow-left"></i> mdi mdi-arrow-left
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrow-left-bold"></i> mdi mdi-arrow-left-bold
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-arrow-left-bold-circle"></i> mdi mdi-arrow-left-bold-circle
                    </div>
                    
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-code-tags"></i> mdi mdi-code-tags
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-codepen"></i> mdi mdi-codepen
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-coffee"></i> mdi mdi-coffee
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-coffee-to-go"></i> mdi mdi-coffee-to-go
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-coin"></i> mdi mdi-coin
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-collage"></i> mdi mdi-collage
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-color-helper"></i> mdi mdi-color-helper
                    </div>
                   
                   
                  
            
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <i class="mdi mdi-zip-box"></i> mdi mdi-zip-box
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- partial:../../partials/_footer.html -->
      
        <!-- partial -->
      </div>
    
  <!-- plugins:js -->


{% endblock content %}

  <!-- Specific JS goes HERE --> 
  {% block javascripts %}
  {% endblock javascripts %}

