[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "==0.13.0"
alembic = "==1.7.4"
astunparse = "==1.6.3"
attrs = "==21.2.0"
autopep8 = "==1.6.0"
"backports.entry-points-selectable" = "==1.1.0"
blinker = "==1.4"
cachetools = "==4.2.2"
certifi = "==2020.4.5.1"
chardet = "==3.0.4"
charset-normalizer = "==2.0.4"
click = "==7.1.1"
colorama = "==0.4.4"
cycler = "==0.10.0"
dataclasses = "==0.6"
distlib = "==0.3.3"
dlib = "==19.23.0"
dnspython = "==2.1.0"
docutils = "==0.17.1"
easydict = "==1.9"
email-validator = "==1.1.2"
face-recognition = "==1.3.0"
filelock = "==3.3.0"
flatbuffers = "==1.12"
future = "==0.18.2"
gast = "==0.4.0"
google-auth = "==1.34.0"
google-auth-oauthlib = "==0.4.5"
google-pasta = "==0.2.0"
greenlet = "==1.1.1"
grpcio = "==1.34.1"
gunicorn = "==20.0.4"
h5py = "==3.1.0"
idna = "==2.9"
imageio = "==2.9.0"
importlib-metadata = "==4.8.1"
importlib-resources = "==5.2.2"
itsdangerous = "==1.1.0"
joblib = "==1.0.1"
keras = "==2.2.5"
keras-facenet = "==0.3.2"
keras-nightly = "==2.5.0.dev2021032900"
"kivy-deps.angle" = "==0.3.0"
"kivy-deps.glew" = "==0.3.0"
"kivy-deps.sdl2" = "==0.3.1"
kivymd = "==0.104.2"
"kivymd-extensions.sweetalert" = "==0.1.5"
kiwisolver = "==1.3.1"
matplotlib = "==3.4.2"
mediapipe = "==0.8.3"
mediapipeface = "==0.2.0"
mtcnn = "==0.1.1"
mysqlclient = "==2.0.3"
networkx = "==2.6.2"
numpy = "==1.19.3"
oauthlib = "==3.1.1"
opencv-contrib-python = "==4.5.3.56"
opencv-python = "==4.2.0.34"
opt-einsum = "==3.3.0"
pandas = "==1.4.1"
passlib = "==1.7.4"
platformdirs = "==2.4.0"
protobuf = "==3.17.3"
psycopg2 = "==2.9.3"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pycodestyle = "==2.8.0"
pyngrok = "==4.1.5"
pyparsing = "==2.4.7"
pypiwin32 = "==223"
pytesseract = "==0.3.7"
python-dateutil = "==2.8.2"
python-decouple = "==3.4"
python-dotenv = "==0.12.0"
pytz = "==2021.3"
pywin32 = "==301"
pyzbar = "==0.1.8"
requests = "==2.23.0"
requests-oauthlib = "==1.3.0"
rsa = "==4.7.2"
scikit-image = "==0.18.2"
scikit-learn = "==0.24.1"
scipy = "==1.5.4"
six = "==1.14.0"
sqlalchemy = "==1.3.23"
tensorboard = "==2.5.0"
tensorboard-data-server = "==0.6.1"
tensorboard-plugin-wit = "==1.8.0"
tensorflow = "==2.5.0"
tensorflow-estimator = "==2.5.0"
termcolor = "==1.1.0"
threadpoolctl = "==2.2.0"
tifffile = "==2021.8.8"
timeago = "==1.0.15"
toml = "==0.10.2"
torch = "==1.9.0"
torch-tb-profiler = "==0.3.1"
torchvision = "==0.10.0"
tqdm = "==4.31.1"
twilio = "==6.38.1"
typing-extensions = "==3.7.4.3"
urllib3 = "==1.25.8"
virtualenv = "==20.8.1"
wrapt = "==1.12.1"
zipp = "==3.6.0"
face_recognition_models = "==0.3.0"
Flask = "==1.1.2"
Flask-Cors = "==3.0.10"
Flask-Login = "==0.5.0"
Flask-Mail = "==0.9.1"
Flask-Migrate = "==2.7.0"
Flask-MySQLdb = "==0.2.0"
Flask-SQLAlchemy = "==2.4.4"
Flask-Uploads = "==0.2.1"
Flask-WTF = "==0.14.3"
httpsproxy_urllib2 = "==1.0"
Jinja2 = "==2.11.3"
Keras-Applications = "==1.0.8"
Keras-Preprocessing = "==1.1.2"
Kivy = "==2.0.0"
Kivy-Garden = "==0.1.4"
Mako = "==1.1.5"
Markdown = "==3.3.4"
MarkupSafe = "==1.1.1"
Pillow = "==7.1.2"
Pygments = "==2.10.0"
PyJWT = "==1.7.1"
PyWavelets = "==1.1.1"
PyYAML = "==5.4.1"
tensorboardX = "==2.0"
urllib2_file = "==0.2.1"
Werkzeug = "==1.0.1"
WTForms = "==2.3.3"

[dev-packages]

[requires]
python_version = "3.8"
