<footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021. <a href="https://www.ugyenacademy.edu.bt/w" target="_blank">Ugyen Academy, Khuruthang, Punakha, </a> Bhutan.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><i class=" text-secondary ml-1">Winners, Innovators, Leaders & Learners</i></span>
          </div>
        </footer>