{% extends 'layouts/admin_mains.html' %}

{% block title %} Dashboard For Bank Users {% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{% endblock stylesheets %}

{% block content %}
<style>
    footer{
        z-index: 999;
        position: fixed;
        bottom: 0;
        width: 100%; 
        background-color: #f0f0f0; 
        padding: 10px; 
        text-align: center; 
        }
    .modal-backdrop.show {
        opacity: 0;
    }
    .modal-backdrop {
    z-index: 1;
    }
</style>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="float:right"><a href="{{url_for('admin_blueprint.add_classTeacher')}}" style="text-decoration: none;color: #fff">Add Teacher</a></button>
                        <h4 class="card-title">Class Teacher Detail </h4>
                        <hr>
                        <div class="card-body">
                            <div class="row">
                               
                                <div class="table-responsive">
                                    <table class="table align-items-center table-flush" id="customerList">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col" >SL</th>
                                                <th scope="col" >Class</th>
                                                <th scope="col" >Section</th>
                                                <th scope="col" >Subject</th>
                                                <th scope="col" >Username</th>
                                                <th scope="col" >Full Name</th>
                                                <th scope="col" >CID</th>
                                                <th scope="col" >Email</th>
                                                <th scope="col" >DOB</th>
                                                <th scope="col" >roles</th>
                                                <th scope="col" style="text-align:center">action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="#" id="list_classteacher">
                    <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input type="hidden" id="uu_id" name="uu_id_id">
                                                <label class="form-control-label"
                                                    for="cid">CID</label>
                                                <input type="number" name="cid" id="ciid" class="form-control" autocomplete="off" readonly>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="form-control-label" for="email">Email
                                                    address</label>
                                                <input type="email" name="email" id="email" class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="form-control-label"
                                                    for="full_name">Full Name</label>
                                                <input type="text" name="full_name" id="full_name" class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="form-control-label" for="date">DOB</label>
                                                <input type="date" name="date" id="dob" class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="form-control-label"
                                                    for="username">Username</label>
                                                <input type="text" name="username" id="username" class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="form-control-label" for="grade"> Class</label>
                                                <select name="grade" id="grade" class="form-control" onchange="loadSection(this)">
                                                    <option value="">Select</option>
                                                    {% for grade in grades %}
                                                    <option value="{{ grade.class_id}}">{{ grade.class_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="form-control-label" for="section"> Section</label>
                                                <select name="section" id="section" class="form-control" onchange="loadSubject(this)">
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                        </div>  

                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="form-control-label" for="subject">Subject</label>
                                                <select name="subject" id="subject" class="form-control">
                                                    <option value="">Select</option>
                                                    {% for subject in subjects %}
                                                    <option value="{{ subject.subject_code}}">{{ subject.subject_name}}</option>
                                                    {% endfor %}
                                                </select>                                            
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="update_teacherlist">Update</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
</div>



{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function () {
        loadUsers()
    });
    function loadUsers() {
        $('#customerList').DataTable({
            'processing': true,
            'serverSide': true,
            'bDestroy': true,
            'serverMethod': 'POST',
            'ajax': {
                'url': '/class-teacher-list_hr'
            },
            'columns': [
                { data: 'sl' },
                { data: 'class_name' },
                { data: 'section_name' },
                { data: 'subject' },
                { data: 'username' },
                { data: 'full_name' },
                { data: 'cid' },
                { data: 'email' },
                { data: 'dob' },
                { data: 'role' },
               
                {
                    "render": function (data, type, full, meta) {
                        return '<div class="dropdown">' +
                                '<a class="btn btn-primary btn-icon-only text-light" href="#" role="button" onclick="EditTeacher(\'' + full.id + '\')" style="height: auto; display: inline-block;" data-toggle="modal" data-target="#exampleModalCenter" >' +
                                '<b> Edit </b >'  +
                                '</a>' + 
                                ' <a class="btn btn-danger btn-icon-only text-light" href="javascript:void(0)"  onclick="deleteTeacherList(\'' + full.id + '\')" role="button">' +
                                '<b> Delete</b>' +
                                '</a>' +
                            '</div>'
                    }
                },
            ],
            language: {
                paginate: {
                    next: '&#8594;', // or '→'
                    previous: '&#8592;' // or '←' 
                }
            },
            "ordering": false
        });
    }

   // edit button
   function EditTeacher(id) {
        $.get('/hr/edit-user/' + id, function (res) {
            const { data } = res
            const {sections} = res
            
            // console.log(data[0].subject, data)
            // if response is json load modal and show data in field
            
            $("#exampleModal").modal('show');  // Populate input fields in the modal with user data from the response
            $("#ciid").val(data.cid);
            $("#username").val(data.username);
            $("#full_name").val(data.full_name);
            $("#dob").val(data.dob);
            $("#email").val(data.email);
            $('#subject option[value='+data.subject_id+']').attr('selected',true);
            $('#grade option[value='+data.grade+']').attr('selected',true);
            $('#section').html("<option value='"+data.section_id+"'>"+data.section+"</option>");
            $("#role").val(data.role);
            $("#uu_id").val(data.id);
        })
    }

    // Function to handle the change event for the section select element
    $("#section").on("change", function() {
        var sectionId = $(this).val();
    
        // Fetch subjects based on the selected section_id
        fetchSubjects(sectionId);
    });

// Function to handle the change event for the section select element

function fetchSubjects(sectionId) {
    // Send an AJAX request to retrieve the subjects for the selected section
    $.ajax({
      url: '/get_subjects/' + sectionId,
      type: 'GET',
      success: function(response) {
        if (response.length===0){
            $('#subject').hide();
        }
        else{  
        // Update the "Select Subject" dropdown with the retrieved subjects
        var subjectDropdown = $('#subject');
        subjectDropdown.empty();
        subjectDropdown.append($('<option>', { value: '', text: '---Select Subject---' }));
        for (var i = 0; i < response.length; i++) {
          var subject = response[i];
          var option = $('<option>');
          option.val(subject.id);
          option.text(subject.name);
          subjectDropdown.append(option);
        }
        $('#subject').show();
    }
      },
      error: function(xhr, status, error) {
        // Handle the error if the AJAX request fails
        console.error(error);
      }
    });
  }
  const loadSection = (e) => {
    var numericPart = $(e).attr('id').split('_')[1];
    var grade = $("#grade").val();
    var $sectionSelect = $("#section");
    var $subjectSelect = $("#subject");

    // Clear existing options before fetching and adding new ones
    $sectionSelect.empty();
    $subjectSelect.empty();

    fetch('/get_section/' + grade)
        .then(response => response.json())
        .then(data => {
            data.sort((a, b) => a.name.localeCompare(b.name));
            data.forEach((item, index) => {
                $sectionSelect.append(`<option value="${item.id}">${item.name}</option>`);
            });
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
    }
    const loadSubject = (e) => {
    var numericPart = $(e).attr('id').split('_')[1];
    var section = $('#section_' + numericPart).val();
    var $subjectSelect = $('#subject_' + numericPart);

    // Clear existing options before fetching and adding new ones
    $subjectSelect.empty();

    fetch('/get_subjects/' + section)
        .then(response => response.json())
        .then(data => {
            data.forEach((item, index) => {
                $subjectSelect.append(`<option value="${item.id}">${item.name}</option>`);
            });
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
    }
    // updating teacher
    $("#update_teacherlist").click(function () {
        var form_data = new FormData($('#list_classteacher')[0]);
        $("#update_teacherlist").text("Loading...");
        $.ajax({
            type: "POST",
            url: "/check_class_steam_sec", // Modify the URL to the endpoint you want to check
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function (response) {
                if (!response.exists) { // Check if exists is false
                    // If response is false, proceed with the update
                    updateClassTeacher();
                } else {
                    // If response is true, show an error message
                    swal('Error', 'Class Teacher already exists', 'error').then(function () {
                        location.reload();
                    });
                }
            },
            error: function () {
                swal('Error', 'Could Not Check Class Teacher', 'error').then(function () {
                    location.reload();
                });
            }
        });
    });
    
    function updateClassTeacher() {
        var form_data = new FormData($('#list_classteacher')[0]);
        $.ajax({
            type: "POST",
            url: "/updating_clsteacher_hr",
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function (data) {
                if (data === "errorFound") {
                    swal('Error', 'Could Not Update', 'error').then(function () {
                        location.reload();
                    });
                } else {
                    swal('Success', 'Successfully Updated', 'success').then(function () {
                        location.reload();
                    });
                }
            },
            error: function () {
                swal('Error', 'Could Not Update Class Teacher', 'error').then(function () {
                    location.reload();
                });
            }
        });
    }
    

    const loadClass = (id) => {
        const gradeSelect = document.getElementById(`${id}`);
        if (!gradeSelect) {
            console.error(`Element with ID ${id} not found.`);
            return;
        }
        fetch('/dropDownClass')
            .then(response => response.json())
            .then(data => {
                if (!data || data.length === 0) {
                    console.error('No data received from the server.');
                    return;
                }
                // Populate the dropdown with the fetched data
                data.forEach(classObj => {
                    const option = document.createElement('option');
                    option.value = classObj.id;
                    option.textContent = classObj.name;
                    gradeSelect.appendChild(option);
                });
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    }

    // teacher delete
    function deleteTeacherList(id) {
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this data!",
            type: "warning",
            showCancelButton: true,
            showConfirmButton: true
        }).then(function (isConfirm) {
            if (isConfirm == true) {
                $.ajax({
                    url: '/deleteTeacher/' + id,
                    type: 'POST',
                    success: function (res) {
                        console.log(res)
                        if(res === "done"){
                            swal({
                            title: 'Success!',
                            text: 'User delete successful!',
                            type: 'success'
                        }).then(function () {
                            location.reload()
                        });
                        }
                        else{
                        }
                    },
                    error: function () {
                        swal("Error", "Error while deleting user. Refresh page and try again :)", "error");
                    }
                })
            } else {
                swal("Cancelled", "Your data is safe :)", "error");
            }
        })
    }
</script>
{% endblock javascripts %}
