<style>
    @media only screen and (max-width: 767px) {
    /* Styles for mobile devices */
	#map{
		width: 370px;
	}
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer id="footer" class="top-space">
<div class="main-footer">
    <div class="footer1">
        <div class="container">
            <div class="row">
                
                <div class="col-md-4 widget">
                    <h3 class="widget-title">CONTACT US :</h3>
                    <div class="widget-body">
                    <h5><b>Principal:</b></h5>
                     <p>Telephone No.: +975 05 584710 </p>
                     <p>Fax No.: +975 05 584711 </p>
                     <h5><b>Vice Principal (Lower Division) :</b></h5>
                     <p>Telephone No.: +975 05 584713</p>

                        <p>Tel. +975 2 584710<br>
                            Fax. +975 2 584710 <br>
                            <p>E-mail:<a href="mailto:pk.ugyenacademy@education.gov.bt"> pk.ugyenacademy@education.gov.bt </a></p><br>
                            <br>
                            
                        </p>	
                    </div>
                </div>

                <div class="col-md-3 widget">
                    <h3 class="widget-title" >QUICK LINKS</h3>
                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href="https://www.facebook.com/groups/42276304044" class="fa fa-facebook"></a>
                            <a href="https://www.ugyenacademy.edu.bt/" class="fa fa-google"></a>
                            <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
                            <a href="https://www.instagram.com/explore/locations/289197644/ugyen-academy-punakha/" class="fa fa-instagram"></a>

                        </p>	
                    </div>
                </div>

                <div class="col-md-5 widget">
                    <h3 class="widget-title">GOOGLE LOCATION</h3>
                    <div class="widget-body">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3537.300895949615!2d89.86898611429746!3d27.553170638859022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e1dd60fb314a25%3A0x11e7d76c7e8aa904!2zVWd5ZW4gQWNhZGVteSBIaWdoZXIgU2Vjb25kYXJ5IFNjaG9vbCDgvajgvbzgvIvgvaLgvpLgvrHgvZPgvIvgvaLgvbLgvYLgvIvgvZTgvaDgvbLgvIvgvZbgvrHgvbTgvYTgvIvgvYLgvZPgvabgvI0!5e0!3m2!1sen!2sbt!4v1651040203513!5m2!1sen!2sbt" width="450" height="200" style=" border: double;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="map"></iframe>
                       </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>

    <div class="footer2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 widget">
                    <div class="widget-body">
                         <a href="https://www.ugyenacademy.edu.bt/w" rel="designer"><p class="text-center">
                            Copyright &copy; Ugyen Academy, Khuruthang, Punakha, Bhutan Date</p></a> 
                        
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>
</div>
</footer>	
    
